#!/usr/bin/env bash

set -o errexit
set -o pipefail
set -o nounset

CLUSTER_IP=`gcloud compute addresses describe {{ infra_id }}-cluster-public-ip --region={{ region }} --format json | jq -r .address`

# Add external DNS entries:
echo "Add external DNS entires:"

if [ -f transaction.yaml ]; then rm transaction.yaml; fi
gcloud dns record-sets transaction start --zone {{ base_domain_zone_name }}
gcloud dns record-sets transaction add ${CLUSTER_IP} --name api.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ base_domain_zone_name }}
gcloud dns record-sets transaction execute --zone {{ base_domain_zone_name }}

# Add internal DNS entries:
echo "Add internal DNS entries:"

if [ -f transaction.yaml ]; then rm transaction.yaml; fi
gcloud dns record-sets transaction start --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add ${CLUSTER_IP} --name api.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add ${CLUSTER_IP} --name api-int.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction execute --zone {{ infra_id }}-private-zone
