#!/usr/bin/env bash

set -o errexit
set -o pipefail
set -o nounset

MASTER0_IP=`gcloud compute instances describe {{ infra_id }}-m-0 --zone {{ zone_0 }} --format json | jq -r .networkInterfaces[0].networkIP`
MASTER1_IP=`gcloud compute instances describe {{ infra_id }}-m-1 --zone {{ zone_1 }} --format json | jq -r .networkInterfaces[0].networkIP`
MASTER2_IP=`gcloud compute instances describe {{ infra_id }}-m-2 --zone {{ zone_2 }} --format json | jq -r .networkInterfaces[0].networkIP`

if [ -f transaction.yaml ]; then rm transaction.yaml; fi
gcloud dns record-sets transaction start --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add ${MASTER0_IP} --name etcd-0.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add ${MASTER1_IP} --name etcd-1.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add ${MASTER2_IP} --name etcd-2.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type A --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction add \
  "0 10 2380 etcd-0.{{ cluster_name }}.{{ base_domain }}." \
  "0 10 2380 etcd-1.{{ cluster_name }}.{{ base_domain }}." \
  "0 10 2380 etcd-2.{{ cluster_name }}.{{ base_domain }}." \
  --name _etcd-server-ssl._tcp.{{ cluster_name }}.{{ base_domain }}. --ttl 60 --type SRV --zone {{ infra_id }}-private-zone
gcloud dns record-sets transaction execute --zone {{ infra_id }}-private-zone
