imports:
- path: 01_vpc.py

resources:
- name: cluster-vpc
  type: 01_vpc.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'

    master_subnet_cidr: '{{ master_subnet_cidr }}'
    worker_subnet_cidr: '{{ worker_subnet_cidr }}'
