imports:
- path: 02_infra.py

resources:
- name: cluster-infra
  type: 02_infra.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'

    cluster_domain: '{{ cluster_name }}.{{ base_domain }}'
    cluster_network: '{{ cluster_network }}'
