imports:
- path: 03_security.py

resources:
- name: cluster-security
  type: 03_security.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'

    cluster_network: '{{ cluster_network }}'
    network_cidr: '{{ network_cidr }}'
    master_nat_ip: '{{ master_nat_ip }}'
    worker_nat_ip: '{{ worker_nat_ip }}'
