imports:
- path: 04_bootstrap.py

resources:
- name: cluster-bootstrap
  type: 04_bootstrap.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'
    zone: '{{ zone_0 }}'

    cluster_network: '{{ cluster_network }}'
    control_subnet: '{{ control_subnet }}'
    image: '{{ cluster_image }}'
    machine_type: 'n1-standard-4'
    root_volume_size: '128'

    bootstrap_ign: '{{ bootstrap_ign }}'
