imports:
- path: 05_control_plane.py

resources:
- name: cluster-control-plane
  type: 05_control_plane.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'
    zones:
    - '{{ zone_0 }}'
    - '{{ zone_1 }}'
    - '{{ zone_2 }}'

    control_subnet: '{{ control_subnet }}'
    image: '{{ cluster_image }}'
    machine_type: 'n1-standard-4'
    root_volume_size: '128'
    service_account_email: '{{ master_sa }}'

    ignition: {{ lookup("file", master_ign_file) | to_json }}
