imports:
- path: 06_worker.py

resources:
- name: 'w-a-0'
  type: 06_worker.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'
    zone: '{{ zone_0 }}'

    compute_subnet: '{{ compute_subnet }}'
    image: '{{ cluster_image }}'
    machine_type: 'n1-standard-2'
    root_volume_size: '128'
    service_account_email: '{{ worker_sa }}'

    ignition: {{ lookup("file", worker_ign_file) | to_json }}
