imports:
- path: 06_worker_patched.py

resources:
- name: cluster-worker
  type: 06_worker_patched.py
  properties:
    infra_id: '{{ infra_id }}'
    region: '{{ region }}'
    zones:
    - '{{ zone_0 }}'
    - '{{ zone_1 }}'
    - '{{ zone_2 }}'

    compute_subnet: '{{ compute_subnet }}'
    image: '{{ cluster_image }}'
    machine_type: 'n1-standard-2'
    root_volume_size: '128'
    service_account_email: '{{ worker_sa }}'

    ignition: {{ lookup("file", worker_ign_file) | to_json }}
